%h1 Pages

%p
  = link_to 'New Page', new_admin_page_path, class: 'btn btn-primary'

%ol.pages.list-unstyled.sortable#sortable
  - @pages.each do |page|
    = render 'row', page: page

%button.btn.btn-primary#toArray Save

%div#toArrayOutput

:coffeescript
  $ ->
    $('.sortable').nestedSortable
      handle:               'div'
      items:                'li'
      toleranceElement:     '> div'
      placeholder:          'placeholder'
      forcePlaceholderSize: true
      excludeRoot:          true
      maxLevels:            2

    $('#toArray').click (e) ->
      arraied = $('ol.sortable').nestedSortable('toArray')
      console.log arraied
      console.log JSON.stringify(arraied)

      $.ajax
        url:  'pages/reorganize'
        type: 'post'
        data: list: arraied