.large {
  font-size: 100px;
}


@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,300);

.josefin_sans {
  font-family: 'Josefin Sans'
}

.walbaum {
  font-family: walbaum;
}

@font-face {
    font-family: 'walbaum';
    src: url('WalbaumDisplay-Bold.eot');
    src: url('WalbaumDisplay-Bold.eot?#iefix') format('embedded-opentype'),
         url('WalbaumDisplay-Bold.woff') format('woff'),
         url('WalbaumDisplay-Bold.ttf') format('truetype'),
         url('WalbaumDisplay-Bold.svg#roboto_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.spartan {
  font-family: spartan;
}

@font-face {
  font-family: 'spartan';
  src: url('LeagueSpartan-Bold.eot'); /* IE9 Compat Modes */
  src: url('LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('LeagueSpartan-Bold.woff') format('woff'), /* Modern Browsers */
       url('LeagueSpartan-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('LeagueSpartan-Bold.svg#211ac8f8a3bc529cc41961980dffd6dd') format('svg'); /* Legacy iOS */       
  font-style:   normal;
  font-weight:  700;
}

.bebas {
  font-family: bebas;
}

@font-face {
  font-family: 'bebas';
  src: url('BebasNeue.eot'); /* IE9 Compat Modes */
  src: url('BebasNeue.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('BebasNeue.woff') format('woff'), /* Modern Browsers */
       url('BebasNeue.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('BebasNeue.svg#971508b09718b6144e128af2335b709c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

.glacial {
  font-family: glacial;
}

@font-face {
  font-family: 'glacial';
  src: url('GlacialIndifference-Bold.eot'); /* IE9 Compat Modes */
  src: url('GlacialIndifference-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GlacialIndifference-Bold.woff') format('woff'), /* Modern Browsers */
       url('GlacialIndifference-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GlacialIndifference-Bold.svg#18e4120734a7d9c7a8faafc483e2e4d6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'glacial';
  src: url('GlacialIndifference-Italic.eot'); /* IE9 Compat Modes */
  src: url('GlacialIndifference-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GlacialIndifference-Italic.woff') format('woff'), /* Modern Browsers */
       url('GlacialIndifference-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GlacialIndifference-Italic.svg#f7812b54365ca3b12b23d2dc7eff84d5') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'glacial';
  src: url('GlacialIndifference-Regular.eot'); /* IE9 Compat Modes */
  src: url('GlacialIndifference-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('GlacialIndifference-Regular.woff') format('woff'), /* Modern Browsers */
       url('GlacialIndifference-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('GlacialIndifference-Regular.svg#ec4c1ff06cdd96d1c5981990c77f2438') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}



