.large {
  font-size: 100px;
}


@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,300);

.josefin_sans {
  font-family: 'Josefin Sans'
}

.walbaum {
  font-family: walbaum;
}

@font-face {
    font-family: 'walbaum';
    src: url('WalbaumDisplay-Bold.eot');
    src: url('WalbaumDisplay-Bold.eot?#iefix') format('embedded-opentype'),
         url('WalbaumDisplay-Bold.woff') format('woff'),
         url('WalbaumDisplay-Bold.ttf') format('truetype'),
         url('WalbaumDisplay-Bold.svg#roboto_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}