.footer-wrapper {
  background-color: $brand-primary;
  color: #eee;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 5px;
}

.footer-wrapper a {
  color: #eee;	
}

.footer-wrapper a:hover {
  color: #d9d9d9;
;	
}