.footer-wrapper {
  background: linear-gradient(to right, $brand-primary, $brand-danger);;
  color: #eee;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 5px;
  font-weight: 700;
}

.footer-wrapper a {
  color: #eee;	
}

.footer-wrapper a:hover {
  color: #d9d9d9;
}