.container
  .col-md-12
    %h1
      = @listing.title
      %small= @listing.org_name

    %p.lead
      - if @listing.full_time
        Full Time
      - else
        Part Time
    %hr

  .col-md-12
    = render partial: 'listings/show', locals: {listing: @listing}
