.page-body= @page.body.html_safe

- if current_user
  = link_to 'Edit', edit_admin_page_path(@page), class: 'btn btn-default'

- if params[:id] == 'member-spotlights'
  - Org.where(spotlight: true).each do |org|
    .container
      = render partial: 'orgs/spotlight', locals: {org: org}

- if params[:id] == 'members'
  .container
    .row
      - Org.where(role: 'nonprofit').order(:name).each do |org|
        = render partial: 'orgs/nonprofit', locals: {org: org}